<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <div v-for="drink in drinks">{{drink}}</div> -->
        <ul>
            <li v-for="drink in drinks">{{drink.name}} -- {{drink.price}}</li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                // drinks:[
                //     '紅茶','綠茶','奶茶','珍珠奶茶','梅子綠茶'
                // ]
                drinks:[
                    {
                        name:'紅茶',
                        price:20
                    },
                    {
                        name:'綠茶',
                        price:20
                    },
                    {
                        name:'奶茶',
                        price:30
                    },
                    {
                        name:'珍珠奶茶',
                        price:50
                    },
                    {
                        name:'梅子綠茶',
                        price:40
                    },
                ]

            }
        })
    </script>
</body>
</html>